<!-- Page Content -->
<div class="container_blogs">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h1 class="page-header">
        個人文章
        <!-- <small>Secondary Text</small> -->
      </h1>
      <%@posts.each do |post|%>
        <div class="well">
          <!-- First Blog Post -->
          <h2>
            <%=link_to post.title, postShowBlog_path(post)%>
          </h2>
          <p class="lead">
            by Create User (todo)
            (<%=post.impression_count%>)
            <i class="fa fa-thumbs-o-up"></i>
            <i class="fa fa-thumbs-o-down"></i>
          </p>
          <p><span class="glyphicon glyphicon-time"></span>
            <%=post.created_at%></p>
          <hr>
          <p>
            <%=raw post.content%>
          </p>

          <%=link_to "Read More", postShowBlog_path(post), :class => "btn btn-primary" %>
        </div>
      <%end%>
      <!-- Pager -->
      <!-- <ul class="pager">
        <li class="previous">
          <a href="#">&larr; Older</a>
        </li>
        <li class="next">
          <a href="#">Newer &rarr;</a>
        </li>
      </ul> -->
    </div>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Blog Search Well -->
      <div class="well">
        <h4>Blog Search</h4>
        <!--
        <%= search_form_for @q, url: blogs_path do |f| %>
          <%= f.search_field :title_or_content_cont, :class=>"form-control" %>
          <%= f.submit 'save', :class=>"btn" %>
        <% end %>
      -->
        <%= search_form_for @q, url: blogs_path do |f| %>
          <div class="input-group">
            <%= f.search_field :title_or_content_cont, :class=>"form-control" %>
            <!-- <input type="text" class="form-control"> -->
            <%= f.submit 'save', :id=>"searchBtn", :class=>"hidden" %>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"
                    onclick="$('#searchBtn').click();"></span>
              </button>
            </span>
          </div>
        <% end %>
        <!-- /.input-group -->
      </div>
      <!-- Blog Categories Well -->
      <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <div id="tag_cloud">
                <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
                  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                <% end %>
              </div>
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- Side Widget Well -->
        <div class="well">
          <h4>Side Widget Well</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Drsays 2014</p>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </footer>
  </div>
  <!-- /.container -->
