<%= form_for(@post) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= cktext_area :content, :ckeditor => {:language => 'US'} %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>



<% end  %>