
<%=link_to "新增",new_post_path,class: "btn btn-lg btn-info"%>
<br>
<%= search_form_for @q do |f| %>
  <%= f.label :title_or_content_cont %>
  <%= f.search_field :title_or_content_cont %>

  <%= f.submit %>
<% end %>
<br>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>標題</th>
      <th>加入時間</th>
      <th>標籤</th>
      <th>瀏灠次數</th>
      <th>Like</th>
      <th>Like 次數</th>
      <th>動作</th>
    </tr>
  </thead>
  <%@posts.each do |post|%>
  <tr>
    <td><%=post.title%></td>
    <td><%=post.created_at%>
    </td>
    <td>
      <%=post.impression_count%>
    </td>
    <td>
     <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </td>
    <td>
     <%= link_to "+1",like_post_path(post)%>
     <%= link_to "-1",unlike_post_path(post)%>
    </td>
    <td>
     <%= post.votes_for.size%>
    </td>
    <td>
      <%=link_to "修改",edit_post_path(post)%> | 
      <%=link_to "檢視",post_path(post)%> | 
      <%=link_to "刪除",post_path(post),:method => "DELETE" , data: { confirm: 'Are you sure?' } %> 
    </td>
  </tr>

  <%end%>
</table>

<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
